.title,
.about-title  {
  color: #463F3A;
  margin: 0;
  text-transform: uppercase;
}

.title {
  margin-bottom: 7px;
}

.about-title {
  font-size: 20px; 
  font-weight: lighter;
}

.secondary-text {
  color: #463F3A ; 
  margin: 0;
 
  
}

.contact-container {
  
  display: flex;
  
  flex-direction: column;
  justify-content: start;

}

.contact-section {
  margin-bottom: 20px;
  width: 90%;
  margin: 20px auto;
}

.about-pic {
  width: 100%;
}

.smaller-link {
  font-size: 16px;

}

@media only screen and (min-width: 700px) {
.pic-and-text {
  display: flex;
  flex-direction: row;
}

.about-pic {
  width: 40%;
  margin-right: 20px;
}

.contact-section {
  width: 80%;
}

}