.product {
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  
}

.product-img {
  width: 100%
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  display: flex;
  align-items: flex-end ;
  justify-content: space-between;
  
}

.product-price {
  font-size: 12px;
}

.button-products {
  color: #463F3A;
  text-transform: uppercase;
  border: 1px solid #463F3A;
  height:40px;
  widows: 75px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  width: 110px;
}

.button-products:hover {
  opacity: 0.6;
}

.grow {
  padding: 0px 5px 0px 5px;
  height: 25px; 

  width: fit-content; 
  margin: 0; 
  position: absolute; 
  transition: height 2s;  
  -webkit-transition:height 0.5s; 
  overflow: hidden;
  background-color: rgba(244, 243, 238, 0.877);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.grow:hover {
  height: auto;
}

.amount {
  display:flex;
  flex-direction: row;
  justify-content: start;
}

.amount i {
  margin: 0 15px 0 0px;
  font-size: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  width: 150px;
  /* padding: 10px; */
  justify-content: space-evenly;
  margin: 10px;
  border-bottom: 1px solid black;
  font-size: 15px;
}

.button-add-remove {
  background-color: rgba(244, 243, 238, 0.877);
  border: none;
}

.items {
  margin-top: 20px;
  font-size: 12px;
  
}





.small-x {
  font-size: 8px;
 
}

.quantity {
  font-size: 11px;
  margin: 0 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%
}



.check-out-btn {
  color: #463F3A;
  text-transform: uppercase;
  border: 1px solid #463F3A;
  height:40px;
  widows: 75px;
  margin: 10px auto;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  
}






@media only screen and (min-width: 700px) {
  .product {
    width: 100%;
  }

  .product-img {
    width: 250px;
    height: 350px;
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .product-page {
    margin: 10px;
    width: 250px;
    
  }

 }