.product {
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  
}

.product-img {
  width: 100%
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  display: flex;
  align-items: flex-end ;
  justify-content: space-between;

}

.product-price {
  font-size: 12px;
}

.button-products {
  background: #F4F3EE;
  color: #463F3A;
  text-transform: uppercase;
  border: 1px solid #463F3A;
  height:40px;
  widows: 75px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  width: 110px;
}

.button-products:hover {
  opacity: 0.6;
}





@media only screen and (min-width: 700px) {
  .product {
    width: 100%;
  }

  .product-img {
    width: 250px;
    height: 350px;
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .product-page {
    margin: 10px;
    width: 250px;
    
  }
 }