.confirmation-title {
  
  font-size: 22px;
  color: #463F3A; 
}

.confirmation-container {
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.confirmation-container p {
  font-weight: 600;
  font-size: 15px;
}

.shipping-address {
  line-height: 4px;
  margin: 40px 30px;
  color: #8A817C;
  text-align: right;
}

.shipping-address p {
  text-transform: capitalize;
}

@media only screen and (min-width: 700px) { 
  .confirmation-container {
    width: 60%;
  }
}