






.link {
  margin-left: auto; 
  margin-right: auto;;
  width: 50%;
  text-align: center;
}
a {
  text-decoration: none;
  color: #1D3557;
}

a:hover {
  opacity: 0.6;
}

.secret-container {
  margin: 0 auto; 
  width: 50%;
  text-align: center;
  margin-top: 100px;
}
