.sign-in-section {
  text-align: center;
}

.sign-in-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #463F3A;
}

.bold {
  font-weight: 700;
}

.small-link {
  text-transform: none;
  font-size: 16px;
  margin: 0 auto;
  display: table;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


label {
  display: flex;
  flex-direction: column;
  color: rgba(70, 63, 58, 0.774);
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.input-field {
  background-color: #F4F3EE ;
  border: none;
  width: 200px;
  height: 40px;
  border: 1px solid #BCB8B1;
  font-size:21px;
  outline: none;
  
}

.button {
  background: #F4F3EE;
  color: #463F3A;
  border: solid 1px #463F3A;;
  height:40px;
  width: 100px;
  margin-top:20px;
  text-transform: uppercase;
  font-size:16px;
  font-weight:400;
  outline: none;
  transition: all 0.3s ease;
  font-family: 'Open Sans', sans-serif;
}

.button:hover {
  opacity: 0.6;
}

.sign-up-link {
  margin: 0 auto;
  text-align: center;
  font-size: 19px;
}


@media only screen and (min-width: 700px) { 

.desktop-formatting-flexbox {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 40px 0;
}

.button {
  width: 150px;
}

}